// $colorMultimedia: #7c1c19;
$colorMultimedia: #a5740c;
$colorFooter: #333;
$lightPinkColor: #ff5f8f;
$colorCatalogo: #ffac7c;

$fuentePrincipal: 'Nunito', sans-serif;

$fuenteDeColor: (
  naranja: $colorCatalogo,
  rosa: $lightPinkColor,
  bordo: $colorMultimedia,
);