/* MEDIA QUERIES */

@media (max-width:768px) {

    /* RESPONSIVE INDEX */

    nav {
        width: 100%;
    }

    nav .container-fluid img {
        /*
        position: relative;
        left: 300px;
        bottom: 30px;*/ 
        width: 100%;
        
        position: relative;
        left: 200%;
        bottom: 30px;
    }

    nav .navbar-collapse {
        position: relative;
        bottom: 45px;
    }

    .carouselPrincipalContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    
    .carousel {
        align-self: center;
        }
    .carousel-control-next-icon {
        z-index: 1;
    }


    .container-content-catalogo button {
        position: relative;
        left: 110px;
    }

    .sectionCaracter {
        flex-direction: column;
    }

    .sectionCaracter .caracteristica {
        padding-top: 20px;
    }


    .sectionMultimedia {
        flex-direction: column;
        align-items: center;
    }

@media (max-width:568px) {
        .sectionMultimedia iframe {
            width: 350px;
            height: 250px;
        }

        nav {
            width: 100%;
        }
    
        nav .container-fluid img {
            position: relative;
            left: 140%;
            bottom: 30px;
        }

        .container-content {
            display: block;
            width: 100%;
            
            img {
                width: 270px;
                height: 100%;
            }

            button {
                position: relative;
                top: -100px;
                left: 100px;
            }
        }

        .sectionCaracter {
            margin-top: -280px;
        }

        /* PAGINA NOSOTROS */

        .wallpaperNosotros {
            position: relative;
            top: 50px;
        }

        /* PAGINA CONTACTANOS */ 

        .title_contactanos {
            padding-top: 100px;
        }

        /* PAGINA CATALOGO */
    
        .container-gridsys {
            padding-top: 50px;
            
        }
    }
    
    
    /* RESPONSIVE PRODUCTOS */

    #galeria {
        padding-top: 120px;
    }

    footer {
        width: 100%;
    }

    /* RESPONSIVE PROMOCIONES */

    .wallpaperPromociones {
        display: flex;
        text-align: center;
        position: relative;
        top: 15px;
    }

    .container-cards-promos {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:391px) {

    /* RESPONSIVE INDEX */

    nav {
        width: 100%;
    }

    nav .container-fluid img {
        position: relative;
        left: 100px;
        bottom: 30px;
    }

    nav .navbar-collapse {
        position: relative;
        bottom: 45px;
    }

    .carouselPrincipalContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }

    

    .carousel img {
        width: 100% !important;
    }

    .container-content {
        position: relative;
    }

    .container-content img {
        display: none;
    }

    .container-content button {
        background-color: rgb(200, 255, 0);
        width: 70px;
        height: 30px;
        position: fixed;
        top: 350px;
        left: 0;
        color: black;
        font-size: 12px;
        font-weight: bold;
        border: none;
    }

    .sectionCaracter {
        margin-top: 0;
    }

    .sectionMultimedia {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }


    .sectionMultimedia iframe {
        width: 100%;
        height: auto;
    }
    /* RESPONSIVE PROMOCIONES */

    .wallpaperPromociones {
        display: flex;
        text-align: center;
        position: relative;
        top: 15px;
    }

    .container-cards-promos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* PAGINA NOSOTROS */

    .wallpaperNosotros {
        position: relative;
        top: 50px;
    }

    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container-gridsys {
        padding-top: 200px;
    }

    .container-gridsys h2 {
        display: none;
    }
} 


